.articles-preview-group {
  margin: 0 0 11px;

  @include media ('>=tablet') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 0;
    margin: 0 0 23px;
  }

  .article-preview {
    @include media ('>=tablet') {
      width: 48.7%;
    }
  }
}

.article-preview {
  padding: 0 0 6px;
  margin: 0 0 7px;
  border-bottom: 1px solid map-get($colors, 'gray-light');

  @include media ('>=tablet') {
    border-bottom: none;
  }

  &:last-child {
    border-bottom: none;
  }

  h5, .h5 {
    color: map-get($colors, 'dark-blue');
    margin: 0;

    @include media ('>=tablet') {
      margin: 0 0 5px;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    margin: 0 0 2px;

    @include media ('>=tablet') {
      margin: 0 0 12px;
    }
  }
}