.services {
  padding: 0 30px;

  @include media ('>=tablet') {
    padding: 0;
  }

  .slick-list {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: calc(100% - 100px);
      width: 100px;
      z-index: 99;
      background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.5) 100%);

      @include media ('>=desktop') {
        right: calc(100% - 150px);
        width: 150px;
      }

      @include media ('>=widescreen') {
        right: calc(100% - 260px);
        width: 260px;
      }
    }

    &:after {
      left: calc(100% - 100px);
      right: auto;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.5) 100%); 

      @include media ('>=desktop') {
        left: calc(100% - 150px);
      }

      @include media ('>=widescreen') {
        left: calc(100% - 260px);
      }
    }
  }

  .slick-arrow {
    @include animate(opacity);
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 50px;
    z-index: 9;

    @include media ('>=desktop') {
      font-size: 71px;
    }

    &:hover {
      opacity: .7;
    }

    &.slick-prev {
      left: 50px;

      @include media ('>=desktop') {
        left: 100px;
      }

      @include media ('>=widescreen') {
        left: 176px;
      }
    }

    &.slick-next {
      right: 50px;

      @include media ('>=desktop') {
        right: 100px;
      }

      @include media ('>=widescreen') {
        right: 176px;
      }
    }
  }

  .slide {
    @include media ('>=tablet') {
      display: flex;
    }
  }
}

.service-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid map-get($colors, 'gray-light');

  @include media ('>=tablet') {
    display: block;
    text-align: center;
    border: none;
    max-width: 200px;
    margin: 0 auto;
  }

  @include media ('>=desktop') {
    font-size: 18px;
  }

  &:last-child {border:none;}

  .visual {
    @include size(55px);

    position: relative;
    border-radius: 100%;
    background: map-get($colors, 'gray');
    color: map-get($colors, 'white');
    margin-right: 10px;
    flex-shrink: 0;

    @include media ('>=tablet') {
      margin: 0 auto;
    }

    @include media ('>=desktop') {
      @include size(110px);
      margin-bottom: 20px;
    }

    &.color-1 {background: map-deep-get($colors, 'services-colors', 'color-1');}
    &.color-2 {background: map-deep-get($colors, 'services-colors', 'color-2');}
    &.color-3 {background: map-deep-get($colors, 'services-colors', 'color-3');}
    &.color-4 {background: map-deep-get($colors, 'services-colors', 'color-4');}
    &.color-5 {background: map-deep-get($colors, 'services-colors', 'color-5');}
    &.color-6 {background: map-deep-get($colors, 'services-colors', 'color-6');}
    &.color-7 {background: map-deep-get($colors, 'services-colors', 'color-7');}
    &.color-8 {background: map-deep-get($colors, 'services-colors', 'color-8');}

    [class^="icon"] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;

      @include media ('>=widescreen') {
        font-size: 47px;
      }
    }
  }
}