.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: $white;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 100vh;
  }

  &.video-paused {
    .video-toggle {
      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 9px 22px;
        border-color: transparent transparent transparent #fff;
        background: none;
      }

      &:after {
        left: 100%;
        opacity: 0;
      }
      
      .pause {display: none;}
      .play {display: inline;}
    }
  }

  .anchor-link {
    @include animate(background color);
    @include size(37px);

    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    z-index: 99;
    border: 1px solid $white;
    text-decoration: none;

    @include media ('>=tablet') {
      @include size(50px);
      bottom: 82px;
    }

    &:hover {
      background: $white;
      color: $dark-blue;
    }

    [class^='icon'] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .video-toggle {
    display: none;
    text-decoration: none;
    position: absolute;
    bottom: 39px;
    right: 59px;
    color: $white;
    font-size: 18px;
    padding: 0 10px 0 0;

    @include media ('>=tablet') {
      display: block;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 20px;
      background: $white;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
    }

    &:before {
      @include animate(border);
    }

    &:after {
      @include animate(left opacity);

      left: calc(100% + 12px);
    }

    .play {display: none;}
  }
}

.intro-content {
  max-width: 560px;
  padding: 100px 20px;

  .section-heading {

    @include media ('>=desktop') {
      margin-top: 27px;
    }
  }
}

#video{
  position: relative;
  background: transparent;
}

.ytplayer-container{
  position: absolute;
  top: 0;
  z-index: -1;
}