$icomoon-font-path: "../fonts";

$icon-slider-arrow-left: \e90d;
$icon-slider-arrow-right: \e90e;
$icon-mail: \e900;
$icon-linkedin: \e901;
$icon-arrow-down: \e902;
$icon-arrow-right: \e903;
$icon-arrow-left: \e90c;
$icon-icon-01: \e904;
$icon-icon-02: \e905;
$icon-icon-03: \e906;
$icon-icon-04: \e907;
$icon-icon-05: \e908;
$icon-icon-06: \e909;
$icon-icon-07: \e90a;
$icon-icon-08: \e90b;

@font-face {
  font-family: 'icomoon';
  src: url('#{$icomoon-font-path}/icomoon.woff?va3vgz') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], %icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-slider-arrow-left {
  &:before {
    content: unicode($icon-slider-arrow-left); 
  }
}
.icon-slider-arrow-right {
  &:before {
    content: unicode($icon-slider-arrow-right); 
  }
}
.icon-mail {
  &:before {
    content: unicode($icon-mail); 
  }
}
.icon-linkedin {
  &:before {
    content: unicode($icon-linkedin);
    color: #1d8cb5;
  }
}
.icon-arrow-down {
  &:before {
    content: unicode($icon-arrow-down); 
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right); 
  }
}
.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left); 
  }
}
.icon-icon-01 {
  &:before {
    content: unicode($icon-icon-01); 
  }
}
.icon-icon-02 {
  &:before {
    content: unicode($icon-icon-02); 
  }
}
.icon-icon-03 {
  &:before {
    content: unicode($icon-icon-03); 
  }
}
.icon-icon-04 {
  &:before {
    content: unicode($icon-icon-04); 
  }
}
.icon-icon-05 {
  &:before {
    content: unicode($icon-icon-05); 
  }
}
.icon-icon-06 {
  &:before {
    content: unicode($icon-icon-06); 
  }
}
.icon-icon-07 {
  &:before {
    content: unicode($icon-icon-07); 
  }
}
.icon-icon-08 {
  &:before {
    content: unicode($icon-icon-08); 
  }
}

