// Typography
//
// Base font styles for headings and links.

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: map-deep-get($headings, 'fonts', 'headings-font-family');
  font-weight: bold;
  margin: 0 0 0.5em;
  color: map-deep-get($headings, 'fonts', 'headings-color');
}

h1, .h1 {
  font-size: map-deep-get($headings, 'sizes', 'h1-font-size');
}

h2, .h2 {
  font-size: 23px;
  font-style: italic;
  font-weight: 300;

  @include media ('>=desktop') {
    font-size: map-deep-get($headings, 'sizes', 'h2-font-size');
  }
}

h3, .h3 {
  font-size: map-deep-get($headings, 'sizes', 'h3-font-size');
}

h4, .h4 {
  font-size: map-deep-get($headings, 'sizes', 'h4-font-size');
}

h5, .h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21428571;

  @include media ('>=desktop') {
    font-size: map-deep-get($headings, 'sizes', 'h5-font-size');
  }
}

h6, .h6 {
  font-size: map-deep-get($headings, 'sizes', 'h6-font-size');
}

p {
  margin: 0 0 1.6em;
}

a {
  color: map-get($base, 'base-link-color');

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.read-more {
    text-decoration: none;
    font-weight: 700;

    &:hover {
      &:after {
        margin-left: 6px;
      }
    }

    &:after {
      @include animate(margin-left);
      @extend %icon;

      content: unicode($icon-arrow-right);
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 4px;
    }
  }

  &.download-link {
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      @extend %icon;

      content: unicode($icon-arrow-down);
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 4px;
      font-size: 10px;
    }
  }
}

.section-heading {
  text-align: center;
  margin: 0 0 11px;

  @include media ('>=desktop') {
    margin: 0 0 32px;
  }

  &.white-underline {
    h2, .h2 {
      &:after {
        background: map-get($colors, 'white');
      }
    }
  }

  h2, .h2 {
    position: relative;
    padding: 0 0 15px;
    margin: 0 0 17px;

    @include media ('>=desktop') {
      padding: 0 0 27px;
      margin: 0 0 36px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 125px;
      height: 1px;
      background: map-get($colors, 'blue');

      @include media ('>=desktop') {
        width: 250px;
      }
    }
  }

  .sub-heading {margin: 0 auto;}
}

.sub-heading {
  display: block;
  font-size: 14px;
  line-height: 1.21428571;
  max-width: 750px;
  font-weight: 400;
  margin: 0 auto 20px;

  @include media ('>=desktop') {
    font-size: 18px;
    line-height: 1.22222222;
  }

  p {
    margin: 0;
  }
}

.columned-text {
  @include media ('>=tablet') {
    column-count: 2;
    column-gap: 24px;
  }
}

.text-center {text-align: center;}