// Global variables
//
// Vars for colors

$colors: (
  'white': #fff,
  'black': #000,
  'gray': #787878,
  'gray-2': #444,
  'gray-light': #d7d7d7,
  'blue': #769eca,
  'dark-blue': #1a3255,
  'dark-blue-2': #173356,
  'darker-blue': #002e5f,
  'darker-blue-2': #003471,
  'services-colors': (
      'color-1': #769eca,
      'color-2': #1a3255,
      'color-3': #6c6b86,
      'color-4': #869bac,
      'color-5': #92a4bc,
      'color-6': #55575a,
      'color-7': #c0b5cf,
      'color-8': #cfb5c1
    )
  );

// Base font styles for headings and links.

// For headers
$headings: (
  'sizes': (
    'h1-font-size': 40px,
    'h2-font-size': 36px,
    'h3-font-size': 24px,
    'h4-font-size': 21px,
    'h5-font-size': 18px,
    'h6-font-size': 15px
    ),
  'fonts': (
    'headings-font-family': inherit,
    'headings-color': inherit
    )
  );

// Global vars for body typography
$base: (
  'base-font-sans-serif': unquote("'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-font-serif': unquote("'Merriweather', 'Times New Roman', Times, Baskerville, Georgia, serif"),
  'base-text-color': map-get($colors, 'gray'),
  'base-background-color': map-get($colors, 'white'),
  'base-link-color': map-get($colors, 'dark-blue'),
  'base-font-size': 14px,
  'base-line-height': 1.42857143,
  'base-font-family': unquote("'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'vertical-rhythm': '(map-get($base, base-line-height) * 1em)',
  'base-min-width': 320px
  );

// Vars for forms
$forms: (
  'form-element-padding': unquote("16px"),
  'form-element-color': map-get($colors, 'white'),
  'form-element-border-color': transparent,
  'form-element-focus-border-color': map-get($colors, 'dark-blue'),
  'form-element-background': rgba(map-get($colors, 'dark-blue'), .8),
  'placeholder-color': rgba(map-get($colors, 'white'), .5),
  'inverse-mod': (
      'form-element-background': rgba(map-get($colors, 'white'), .07),
      'form-element-focus-border-color': rgba(map-get($colors, 'white'), .1),
    )
  );

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 980px,
  'widescreen': 1200px
  );

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
  );