.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: $dark-blue;

	@include media ('>=desktop') {
		background: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 30px;
	}

	.flex-aligned {
		display: flex;
		justify-content: space-between;

		@include media ('>=desktop') {
			display: block;
			margin: 10px 0 -11px;
		}
	}
}

.logo {
	width: 200px;
	height: 60px;
	padding: 21px 57px;

	@include media ('>=desktop') {
		width: 173px;
		padding: 0;
	}

	a {
		display: block;
	}
}

.nav-opener {
	display: block;
	position: relative;
	background: $white;
	border: none;
	box-shadow: none;
	width: 120px;
	height: 60px;
	outline: none;

	@include media ('>=desktop') {
		display: none;
	}

	&:before,
	&:after,
	span {
		content: '';
		position: absolute;
		width: 25px;
		height: 2px;
		border-radius: 4px;
		background: $gray-2;
		left: 50%;
		transform: translateX(-50%);
	}

	&:before,
	&:after {
		@include animate(top transform);
	}

	&:before {
		top: 24px;
	}

	span {
		top: 31px;
	}

	&:after {
		top: 37px;
	}

	.nav-active & {
		span {display: none;}

		&:before,
		&:after {
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.navigation-holder {
	@include animate(opacity visibility transform);

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);

	@include media ('>=desktop') {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.nav-active & {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}